@import "./vendor/normalize";
@import "./partials/colors";
@import "./partials/mixins";
@import "./partials/typography";

body{
    /*This tells where the image is*/
    background-image: url(../assets/images/mobileKestrel2.jpg);
    /*This centers the image at all times*/
    background-position: center center;
    /*This makes sure the background won't tile*/
    background-repeat: no-repeat;
    /*this makes sure the background doesn't move if the content is larger*/
    background-attachment: fixed;
    /*this makes the background scale with the container's size*/
    background-size: cover;
    /*this sets a background color while the pic is loading*/
    background-color: rgb(199, 211, 223);


           
    header{
      display:grid;
      grid-template-columns: 1fr;
      grid-template-rows: 100px;
      grid-template-areas: 
        "nav"
        "mainInfo";

        .myName{
            height: 100px;
            width: 100%;
            display: flex;
            flex-flow: column nowrap;
            h1{
                height: 50px;
                width: 100%;
                font-family: $myNameFont;
                font-size: $mainHeadingSize;
                text-align: center;
                grid-area: mainInfo;
            }
            p{
                text-align: center;
            } //p
        } //myName

        nav{
            grid-area: nav;
        }
    }  

            /*to change the background for large screens*/
        @media (min-width:768px){
            background-image: url(../assets/images/kestrel2.jpg);
        }

} //body